<div class="slider-page">
  <header class="header">
    <span class="header-title">Um pouco sobre promises e subscribes</span>
  </header>

  <main class="container">
    <button class="button-slider left" (click)="plusDivs(-1)">&#10094;</button>

    <app-slider-item (hide)="!!canShow" *ngFor="let slide of slideList"  [title]="slide.title" [subtitle]="slide.subtitle" [text]="slide.text"></app-slider-item>

    <button class="button-slider right" (click)="plusDivs(1)">&#10095;</button>
  </main>

</div>
